<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA12g2QxPzYlWS_1qbJiQ-7UCq3zTtprvk</string>
	<key>GCM_SENDER_ID</key>
	<string>533279419878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ruslanlyulka.MedCareTrack</string>
	<key>PROJECT_ID</key>
	<string>swiftmedapp</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftmedapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533279419878:ios:eb64f48092aeb92adb3a27</string>
</dict>
</plist>